.container {
    height: 1000px;
    width: 1000px;
    border: 1px solid black;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}

.square {
    box-sizing: border-box;
    border: 1px solid black;
}

.square-colored {
    background-color: #000000;
}